.commentBox {
  width: 95%;
  margin-top: 20px;

  border-radius: 10px;
  display: flex;
}
.commentBox p {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  text-align: start;
  margin-left: 5px;
  margin-top: 0;
}
.replies {
  margin-left: 30px;
}
.replies .commentLine {
  border-color: rgb(192, 192, 192);
}
.replies .commentBox {
}
.commentBody {
  width: 100%;
  color: black;
  margin-top: 20px;
}
.CommentsSection {
  max-width: 1000px;
  border-radius: 10px;
  background-color: white;
  box-shadow: none;
}
.commentLine {
  width: 100%;
  border-left: rgb(27, 27, 27) solid 1px;
  box-shadow: 0 -4px 0px rgba(0, 0, 0, 1);
  color: WHITE;
}
.Blog {
  margin-right: 20px;
  margin-left: 20px;
}
@media only screen and (max-width: 1000px) {
  .Blog {
    width: 600px;
  }
}
@media only screen and (max-width: 637px) {
  .Blog {
    width: 400px;
  }
}
@media only screen and (max-width: 447px) {
  .Blog {
    width: 300px;
  }
}
