.postImage {
  border-radius: 10px;
  padding-bottom: 10px;
  max-height: 500px;
}
.postBox h2 {
  text-align: start;
  margin-left: 5px;
  margin-top: 0;
}
.subreddit {
  margin: 5px 0 0 10px;

  opacity: 0.5;
  font-weight: bold;
  display: flex;
}
.subreddit-box {
  display: flex;
}
.loadBox {
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
  width: inherit;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  box-shadow: 0 0.6px 2.2px rgba(0, 0, 0, 0.022),
    0 1.3px 5.3px rgba(0, 0, 0, 0.031), 0 2.5px 10px rgba(0, 0, 0, 0.037),
    0 4.5px 17.9px rgba(0, 0, 0, 0.043), 0 8.4px 33.4px rgba(0, 0, 0, 0.051),
    0 20px 80px rgba(0, 0, 0, 0.07);
}
.postBox {
  background-color: white;
  cursor: pointer;
  margin-top: 20px;
  width: 1000px;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  box-shadow: 0 0.6px 2.2px rgba(0, 0, 0, 0.022),
    0 1.3px 5.3px rgba(0, 0, 0, 0.031), 0 2.5px 10px rgba(0, 0, 0, 0.037),
    0 4.5px 17.9px rgba(0, 0, 0, 0.043), 0 8.4px 33.4px rgba(0, 0, 0, 0.051),
    0 20px 80px rgba(0, 0, 0, 0.07);
}
.postBox:hover {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 1);
}
.postVideo {
  border-radius: 10px;
  background-color: black;
  max-width: 1000px;
  width: min-content;
  margin-right: 50px;
  max-height: 500px;
}
.maintext {
  width: 100%;
}
.upvote {
  width: 20px;
  margin-top: 15px;
}
.votes {
  margin: 0;
}
.downvote {
  margin-top: 10px;
  width: 20px;
  transform: rotateX(180deg);
}
.VotesSection {
  color: gray;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
.bottom-main {
  border-top: 1px rgb(207, 207, 207) solid;
  display: flex;
  justify-content: space-between;
  color: gray;
  font-weight: bold;
  padding-bottom: 5px;
}
.bottom-main p span {
  color: orangered;
}
.comments {
  display: flex;
  margin-top: 15px;
  margin-right: 20px;
}
.comments img {
  margin-right: 5px;
  height: 20px;
  width: 20px;
}
.spoiler {
  filter: blur(10px);
}
.sourceLink {
  text-decoration: none;
  display: flex;
  color: darkblue;
}
.sourceLink::after {
  content: "...";
}
.link {
  display: flex;
  text-decoration: none;
  color: gray;
}
.noFlexlink {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  text-decoration: none;
  color: black;
}
.mainPosts {
  margin-right: 20px;
  margin-left: 20px;
}
.loaders {
  width: 100%;
}
@media only screen and (max-width: 1000px) {
  .contentLoader {
    transform: translateY(-25px);
  }
  #rect23 {
    transform: translateY(-70px);
    height: 600px;
  }
  #rect2 {
    height: 300px;
  }
  #rect3 {
    transform: translateY(70px);
  }
  .comments {
    margin-top: 10px;
  }
  .mainPosts {
    width: 600px;
  }
  .postVideo {
    width: 400px;
  }
  .postImage {
    width: 500px;
  }
  .bottom-main {
    font-size: 12px;
  }
}
@media only screen and (max-width: 637px) {
  .contentLoader {
    transform: translateY(-50px);
  }
  #rect23 {
    transform: translateY(-140px);
    height: 600px;
  }
  #rect2 {
    height: 500px;
  }
  #rect3 {
    transform: translateY(70px);
  }
  .mainPosts {
    width: 400px;
  }
  .postVideo {
    width: 200px;
  }
  .postImage {
    width: 300px;
  }
}
@media only screen and (max-width: 447px) {
  .mainPosts {
    width: 300px;
  }
  .mainPosts h2 {
    font-size: 20px;
  }
  .postVideo {
    width: 100px;
  }
  .postImage {
    width: 230px;
  }
}
