html {
  background-color: white;
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}
.Main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Main2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.darkMode {
  background-color: rgb(10, 10, 10) !important;
  color: white !important;
}
.darkMode .searchBar,
.darkMode .postBox,
.darkMode .loadBox {
  background-color: rgb(26, 26, 27);
  color: white !important;
}

.darkMode .postBox:hover {
  box-shadow: 0 0px 1px rgb(255, 255, 255);
}
.darkMode a {
  color: rgb(54, 113, 151);
}
.darkMode h2 {
  color: white;
}

.darkMode .upvote,
.downvote {
  fill: gray;
}
.darkMode .forma input {
  color: white;
  background-color: rgb(37, 37, 37);
  box-shadow: 0;
}
.darkMode .commentBox {
  background-color: rgb(26, 26, 27);
  color: white !important;
}
.darkMode .commentBody {
  color: white;
}
.darkMode .CommentsSection {
  background-color: rgb(26, 26, 27);
}
.darkMode .commentLine {
  border-left: rgb(255, 255, 255) solid 1px;
  box-shadow: 0 -6px 0px rgb(148, 148, 148);
}
